.metric-name {
    font-size: 0.7em;
    padding: 0;
}

.metric-value {
    font-size: 6em;
    padding: 0;
    font-weight: bold;
    transform: scale(1);
    display: inline-block;
    white-space: nowrap;
    transform-origin: left top;
    text-align: center;
}

.metric-col {
    padding: 0;
    height: 15vh;
}