<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>Timers</button>
    <ng-template ngbNavContent>
      
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Wind</button>
    <ng-template ngbNavContent>
      
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Map</button>
    <ng-template ngbNavContent>
      <app-map></app-map>
    </ng-template>
  </li>

  <li [ngbNavItem]="4">
    <button ngbNavLink>Settings</button>
    <ng-template ngbNavContent>
      <app-settings></app-settings>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
