<mat-tab-group mat-stretch-tabs="false" [style.height]="fullTabsHeight">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>settings</mat-icon>
    </ng-template>
    <app-settings></app-settings>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>map</mat-icon>
    </ng-template>
    <app-maplibre-map [height]="contentHeight"></app-maplibre-map>
  </mat-tab>
  <mat-tab label="Data1">
    <ng-template mat-tab-label>
      <mat-icon>dashboard</mat-icon>
    </ng-template>
    <app-metrics tabName="data1"></app-metrics>
  </mat-tab>
  <mat-tab label="Data2">
    <ng-template mat-tab-label>
      <mat-icon>dashboard</mat-icon>
    </ng-template>
    <app-metrics tabName="data2"></app-metrics>
  </mat-tab>
  <!-- <mat-tab label="Map">
    <app-leaflet-map></app-leaflet-map>
  </mat-tab> -->
</mat-tab-group>

<div style="
    position: fixed;
    right: 24px;
    z-index: 100;
    transition: bottom 0.2s;
    " [style.bottom]="showFooter ? '22vh' : '16px'">
  <button mat-mini-fab color="primary" (click)="toggleFooter()">
    <mat-icon>{{ toggleFooterIcon }}</mat-icon>
  </button>
</div>

@if (showFooter) {
<div [style.height]="footerHeight">
  <app-workout></app-workout>
</div>
}