<h2>Setting</h2>

<h3>Activity</h3>

<button class="btn btn-primary" (click)="startActivity()">
    Start activity
</button>
<button class="btn btn-danger" (click)="stopActivity()">
    Stop activity
</button>

<h3>HR sensor</h3>

<div *ngIf="heartRateSensor.deviceSelected">
    Devicename: {{heartRateSensor.deviceName}}<br>
    Connected: {{heartRateSensor.isConnected}}<br>
</div>
<button type="button" class="btn btn-primary" *ngIf="!heartRateSensor.deviceSelected"
    (click)="requestHeartRateDevice()">
    Request heart rate device
</button>
<button type="button" class="btn btn-success" *ngIf="!heartRateSensor.deviceSelected"
    (click)="reconnectToLastConnectedHeartRateSensor()">
    Reconnect to last connected device
</button>

<h3>Power meter</h3>
<div *ngIf="powerMeter.deviceSelected">
    Devicename: {{powerMeter.deviceName}}<br>
    Connected: {{powerMeter.isConnected}}<br>
</div>
<button type="button" class="btn btn-primary" *ngIf="!powerMeter.deviceSelected" (click)="requestPowerMeterDevice()">
    Request power meter device
</button>
<button type="button" class="btn btn-success" *ngIf="!powerMeter.deviceSelected"
    (click)="reconnectToLastConnectedPowerMeter()">
    Reconnect to last connected device
</button>

<h3>Metrics</h3>
<table>
    <tr>
        <th>Metric</th>
        <th>Last value</th>
    </tr>
    <tr *ngFor="let metricName of metricService.getNames()">
        <td>{{metricName}}</td>
        <td>{{metricService.getByName(metricName)!.displayLastValue()}}</td>
    </tr>
</table>