<h2>Setting</h2>

<h3>HR sensor</h3>

<div *ngIf="heartRateSensor.deviceSelected">
    Devicename: {{heartRateSensor.deviceName}}<br>
    Connected: {{heartRateSensor.isConnected}}<br>
    Last heartrate: {{heartRateSensor.heartRate?.heartRate}}<br>
</div>
<button type="button" class="btn btn-primary" *ngIf="!heartRateSensor.deviceSelected"
    (click)="requestHeartRateDevice()">
    Request heart rate device
</button>
<button type="button" class="btn btn-success" *ngIf="!heartRateSensor.deviceSelected"
    (click)="reconnectToLastConnected()">
    Reconnect to last connected device
</button>